@charset "UTF-8";
/* CSS Document */

/*------------------------------reset styles---------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------fin reset styles---------------------------*/



/*-----------common styles----------*/
body{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 100%; /* 16px*/
	background-color: #97c56a;
}
body a{
	outline: none;
}
body a:hover{
	text-decoration: none;
}
img,
embed,
object,
video {
	max-width: 100%;
}
/*-----------fin common styles----------*/



/*------------------------*/
.all{
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #FFF;
}
.main_content {
	width: 100%;
	height: 100%;
	padding: 20px 40px 20px 20px;
	box-sizing: border-box;
}
.block_holder{
	font-size: 0;
	display:table; 
	max-width: 700px; 
	width: 100%;
	height: 100%;
	box-sizing: border-box;  
}
.block_img_wrapper{
	display: inline-block; 
	font-size: 16px; 
	line-height: 20px;
	max-width: 180px;
	margin: 20px 0 20px 20px;
	vertical-align: top;
	box-sizing: border-box;
}
.block_img_wrapper img{
	max-width: 100%;
	height: auto;
}

/*--------------retina----------*/
@media screen and (max-width: 1024px) {
	.all{
		width: 100%;
	}
}

@media screen and (max-width: 480px) { 
	.main_content{
		text-align: center;
	}
	.block_img_wrapper{
		max-width: 300px;
		font-size: 20px;
		line-height: 28px;
	}
} 


